@charset "UTF-8";
/* base */ /* font */
/* base */
/* margin block 변수 */
/* path */
/* media query */
/* font */
/* font-size */
/* 말줄임 */
/* 수치 단위 변환 fx(to vw) */
/* flex */
/* background */
/* bullet */
/* clear */
/* wordBreak */
/* reset */
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
p,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Pretendard", Helvetica, Arial, sans-serif;
  color: #666;
  font-weight: 400;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  font-size: max(10.56px, 1.0416666667vw);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

select,
button,
input,
textarea,
pre {
  font-family: "Pretendard", Helvetica, Arial, sans-serif;
  font-size: max(10.56px, 1.0416666667vw);
  color: #666;
}

pre {
  white-space: pre-wrap;
}

fieldset,
img,
button {
  border: 0;
}

img,
input,
button {
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  word-break: break-all;
  word-wrap: break-word;
}

address,
em {
  font-style: normal;
}

ol,
ul,
li {
  list-style: none;
}

hr {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active {
  text-decoration: none;
}

legend {
  position: absolute;
  left: -9999px;
  top: 0;
}

caption {
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background: none;
  cursor: pointer;
  -webkit-apperance: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  resize: none;
}

* {
  box-sizing: border-box;
}

.blind {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* select arrow none */
input[type=text],
input[type=password],
input[type=number],
input[type=tel],
input[type=email],
input[type=button],
input[type=submit] {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #999;
}

input::placeholder,
textarea::placeholder {
  color: #999;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.hide {
  display: none !important;
  visibility: hidden !important;
}

.swiper-scrollbar-drag {
  cursor: pointer;
}

/* touch기능으로 mobile/tablet 판별하여 css에 root var 추가 <-- coarse 터치기기 : fine 웹 */
@media (min-width: 1024px) and (pointer: fine) {
  :root {
    --pointer: fine;
  }
}
@media (max-width: 1023px), (max-width: 1366px) and (pointer: coarse) {
  :root {
    --pointer: coarse;
  }
}
/* Pretendard */
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("/resources/fonts/Pretendard-Light.eot");
  src: url("/resources/fonts/Pretendard-Light.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/Pretendard-Light.woff2") format("woff2"), url("/resources/fonts/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/resources/fonts/Pretendard-Regular.eot");
  src: url("/resources/fonts/Pretendard-Regular.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/Pretendard-Regular.woff2") format("woff2"), url("/resources/fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("/resources/fonts/Pretendard-Medium.eot");
  src: url("/resources/fonts/Pretendard-Medium.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/Pretendard-Medium.woff2") format("woff2"), url("/resources/fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("/resources/fonts/Pretendard-SemiBold.eot");
  src: url("/resources/fonts/Pretendard-SemiBold.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/Pretendard-SemiBold.woff2") format("woff2"), url("/resources/fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  font-style: normal;
  font-weight: bold;
  src: url("/resources/fonts/Pretendard-Bold.eot");
  src: url("/resources/fonts/Pretendard-Bold.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/Pretendard-Bold.woff2") format("woff2"), url("/resources/fonts/Pretendard-Bold.woff") format("woff");
}
/* layout */
#header {
  position: absolute;
  width: 100%;
  height: max(52.8px, 5.2083333333vw);
  top: calc(max(52.8px, 5.2083333333vw) * -1);
  left: 0;
}
#header .header_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: max(52.8px, 5.2083333333vw);
  padding: 0 max(26.4px, 2.6041666667vw);
}
#header .header_inner #logo a {
  font-size: 24px;
  letter-spacing: 0.036em;
  line-height: 1;
  font-weight: bold;
  color: #222222;
}
#header .header_inner #gnb {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: normal;
  gap: 0 max(13.2px, 1.3020833333vw);
}
#header .header_inner #gnb li a {
  font-size: 18px;
  letter-spacing: 0.027em;
  line-height: 1;
  font-weight: 500;
  color: #222222;
}

/* page */
body {
  overflow: hidden;
}
body.intro_end {
  overflow: visible;
}
body.intro_end #header {
  top: 0;
  transition: top 0.5s;
}
body.intro_end #intro {
  opacity: 0;
  visibility: hidden;
  transition: 1s opacity, 1s visibility;
}

.main {
  position: relative;
  width: 100%;
}
.main #intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: #000000;
}
.main #intro .txt_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.main #intro .txt_wrap .txt {
  position: relative;
  display: block;
  font-size: 100px;
  letter-spacing: 0.15em;
  line-height: 1;
  color: #ffffff;
  opacity: 0;
  transform: translateY(300px);
}
.main #intro .transition_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
          clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
}