@charset "UTF-8";

/* Pretendard */
@font-face {
    font-family: "Pretendard";
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url("#{$fontPathCommon}Pretendard-Light.eot");
    src: url("#{$fontPathCommon}Pretendard-Light.eot?#iefix") format("embedded-opentype"),
    url("#{$fontPathCommon}Pretendard-Light.woff2") format("woff2"),
    url("#{$fontPathCommon}Pretendard-Light.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("#{$fontPathCommon}Pretendard-Regular.eot");
    src: url("#{$fontPathCommon}Pretendard-Regular.eot?#iefix") format("embedded-opentype"),
    url("#{$fontPathCommon}Pretendard-Regular.woff2") format("woff2"),
    url("#{$fontPathCommon}Pretendard-Regular.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url("#{$fontPathCommon}Pretendard-Medium.eot");
    src: url("#{$fontPathCommon}Pretendard-Medium.eot?#iefix") format("embedded-opentype"),
    url("#{$fontPathCommon}Pretendard-Medium.woff2") format("woff2"),
    url("#{$fontPathCommon}Pretendard-Medium.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url("#{$fontPathCommon}Pretendard-SemiBold.eot");
    src: url("#{$fontPathCommon}Pretendard-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("#{$fontPathCommon}Pretendard-SemiBold.woff2") format("woff2"),
    url("#{$fontPathCommon}Pretendard-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-display: swap;
    font-style: normal;
    font-weight: bold;
    src: url("#{$fontPathCommon}Pretendard-Bold.eot");
    src: url("#{$fontPathCommon}Pretendard-Bold.eot?#iefix") format("embedded-opentype"),
    url("#{$fontPathCommon}Pretendard-Bold.woff2") format("woff2"),
    url("#{$fontPathCommon}Pretendard-Bold.woff") format("woff");
}