@charset "UTF-8";
@use "sass:math";

/* media query */
$breakpoints: (
    mobile: 768px,
    tablet: 1024px,
);
@mixin media($from: false, $until: false, $and: false, $or: false, $etc: false, $media-type: all) {
    /// ❓ 선택값
    /// $from, $until : $breakpoints or number
    /// $and : 조건 연산자
    /// 예) @include media($from: "sm", $until: 768px, $and:"orientation: landscape")
    /// media(false, tablet, $etc:", (max-width: 1366px) and (pointer: coarse)")
    ///
    $min-width: 0;
    $max-width: 0;
    $query: "";

    @if $from {
        @if type-of($from) == number {
            $min-width: $from;
        } @else {
            $min-width: map-get($breakpoints, $from);
        }
    }
    @if $until {
        @if type-of($until) == number {
            $max-width: $until - 1px;
        } @else {
            $max-width: map-get($breakpoints, $until) - 1px;
        }
    }

    @if $min-width != 0 {
        $query: "#{$query} and (min-width: #{$min-width})";
    }
    @if $max-width != 0 {
        $query: "#{$query} and (max-width: #{$max-width})";
    }
    @if $and {
        $query: "#{$query} and (#{$and})";
    }
    @if $or {
        $query: "#{$query} or (#{$or})";
    }
    @if $etc {
        $query: "#{$query} #{$etc}";
    }

    @if ($media-type == "all" and $query != "") {
        $media-type: "";
        $query: str-slice(unquote($query), 6);
    }

    @media #{$media-type + $query} {
        @content;
    }
}

/* font */
@mixin pretendard {
    font-family: $Pretendard;
}

@mixin journeyitself {
    font-family: $JourneyItself;
}

@mixin Spoqa {
    font-family: $Spoqa;
}

/* font-size */
@mixin fontSize($font-size: null, $base-size: $baseP, $letter-spacing: null, $line-height: null) {
    /// ❓ 선택값
    /// $font-size, $letter-spacing, $line-height : photoshop value
    /// $margin-bottom : marginBlock * value
    //font-size: $font-size * 1px;
    @if font-size == null {
        font-size: 1rem;
    } @else {
        font-size: to_vw($font-size, $base-size);
    }

    @if $letter-spacing == null {
        letter-spacing: 0;
    } @else {
        letter-spacing: #{$letter-spacing / 1000}em;
    }

    @if $line-height == null {
        line-height: 1;
    } @else {
        line-height: $line-height / $font-size;
    }
}

/* 말줄임 */
@mixin ellipsis($lines: false, $font-size: null, $lh: null, $use: true) {
    /// @ 값이 없을 경우
    /// 기본적으로 1줄 말줄임

    /// @ 값이 2이상 일 경우
    /// $font-size : em 계산으로 해당 font-size 필요
    /// $lh : line-height;
    /// 해당하는 값만 큼 말줄임 => @include ellipsis(3); 👈 3줄 말줄임

    @if ($lines) {
        // 여러 줄 말줄임
        $em: $lh / $font-size;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        word-wrap: normal;
        line-height: $em;
        max-height: ($em * $lines) * 1em;
    } @else {
        // 한 줄 말줄임
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
    }
}

/* 수치 단위 변환 fx(to vw) */
@function to_vw($px-size, $base: 1536) {
    $minus: 0;
    @if $px-size < 0 {
        $px-size: $px-size * -1;
        $minus: 1;
    }
    $px-size: $px-size * 1px;
    $baseD: $base;
    $base: $base * 1px;
    $resultVw: math.div($px-size, $base) * 100vw;
    //$resultValue: calc(math.floor($resultVw * 1000) / 1000);
    $min: $px-size * 0.66;
    $max: $px-size * 1;

    @if $baseT >= $baseD {
        @if $minus > 0 {
            // @return calc(min(#{$resultVw}, #{$max}) * -1);
            @return -#{$max};
        } @else {
            @return #{$max};
        }
    } @else {
        @if $minus > 0 {
            @return calc(max(#{$min}, #{$resultVw}) * -1);
        } @else {
            @return max(#{$min}, #{$resultVw});
        }
    }
}

/* flex */
@mixin flex($mode: flex, $justify-content: start, $align-items: normal, $wrap: wrap) {
    display: $mode;
    flex-wrap: $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}

/* background */
@mixin background($img, $bgp: null, $bgr: null, $bgz: null) {
    /// ❗ 필수값
    /// $img : 이미지 경로 및 파일명 => 'kr/common/logo.png'

    /// ❓ 선택값
    /// 하나씩 쓸 경우엔 지시자 지정 필수 => @include background('kr/common/logo.png', $bgr: no-repeat); 👈 "$bgr"
    /// $bgp : position, $bgr : repeat, $bgz : size

    @if $bgp == null {
        // background position 값이 없을 때
        background-image: url("#{$imgPathCommon}#{$img}");
        background-repeat: $bgr;
    } @else if $bgr == null {
        // background repeat 값이 없을 때
        background-image: url("#{$imgPathCommon}#{$img}");
        background-position: $bgp;
    } @else {
        // position, repeat 값이 둘 다 있을 때
        background: url("#{$imgPathCommon}#{$img}") $bgp $bgr;
    }

    // background size 값이 있으면 반환, 없으면 생략
    background-size: $bgz;
}

/* bullet */
@mixin bullet($selector: before, $position: null, $top: null, $right: null, $bottom: null, $left: null, $width: null, $height: null) {
    /// ❗ 필수값
    /// $selector => 미지정시 before

    /// ❓ 선택값
    /// 값 지정 시 지시자 필수
    /// $position, $top, $right, $bottom, $left

    position: relative;

    &:#{$selector} {
        @if $position == null {
            display: inline-block;
            vertical-align: middle;
        } @else {
            display: block;
        }
        position: $position;
        top: $top;
        right: $right;
        bottom: $bottom;
        left: $left;
        width: $width;
        height: $height;
        content: "";
        @content;
    }
}

/* clear */
@mixin clearFix {
    &::after {
        content: "";
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }
}

/* wordBreak */
@mixin wordBreak {
    word-break: keep-all;
    word-wrap: break-word;
}
