@charset "UTF-8";

/* reset */
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
p,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Pretendard", Helvetica, Arial, sans-serif;
    color: #666;
    font-weight: 400;
    line-height: 1;
    // -webkit-text-size-adjust: none; // 테스트 - 기존 소스
    -webkit-text-size-adjust: 100%; 
}
html,
body {
    font-size: to_vw(16, $baseP);
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    margin: 0;
    font-size: 100%;
    font-weight:normal;
    line-height: 1;
    margin-block-end: 0;
    margin-block-start: 0;
}
select,
button,
input,
textarea,
pre {
    font-family: "Pretendard", Helvetica, Arial, sans-serif;
    font-size: to_vw(16, $baseP);
    color: #666;
}
pre {
    white-space: pre-wrap;
}
fieldset,
img,
button {
    border: 0;
}
img,
input,
button {
    vertical-align: top;
}
img {
    display: block;
    max-width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    word-wrap: break-word;
}
address,
em {
    font-style: normal;
}
ol,
ul,
li {
    list-style: none;
}
hr {
    display: none;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover,
a:active {
    text-decoration: none;
}
legend {
    position: absolute;
    left: -9999px;
    top: 0;
}
caption {
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
button {
    background: none;
    cursor: pointer;
    -webkit-apperance: none;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
textarea {
    resize: none;
}
// :focus {
//     outline: 0;
// }
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.blind {
    display:none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
/* select arrow none */
input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="button"],
input[type="submit"] {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}
textarea {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: #999;
}
input::placeholder,
textarea::placeholder {
    color: #999;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
.hide {
    display: none !important;
    visibility: hidden !important;
}
.swiper-scrollbar-drag {
    cursor: pointer;
}
/* touch기능으로 mobile/tablet 판별하여 css에 root var 추가 <-- coarse 터치기기 : fine 웹 */
@include media(tablet, false, $and: "pointer: fine") {
    :root {
        --pointer: fine;
    }
}

// @include media(mobile, 1367px, $and: "pointer: coarse", $etc: ", (min-width: 768px) and (max-width: 1024px)") {
//     :root {
//         --pointer: tablet;
//     }
// }

@include media(false, tablet, $etc: ", (max-width: 1366px) and (pointer: coarse)") {
    :root {
        --pointer: coarse;
    }
}


